html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #202020;
    overscroll-behavior: none;
}


.menu-drawer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
    z-index: 777;
}

.menu-drawer.show {
    opacity: 1;
    transform: translateY(0);
}

.menu-drawer__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f4fbff;
    border-top: 1px solid #ECF0FF;
    margin: 0;
    padding: 0;
    padding-bottom: 82px;
}

.menu-drawer__list-item {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ECF0FF;
}

.menu-drawer__list-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    color: #383838;
    font-weight: 700;
    padding: 18px 20px;
}

.menu-drawer__list-icon {
    font-size: 20px;
    margin-right: 12px;
}

.menu-drawer-backdrop {
    position: fixed;
    inset: 0;
    display: none;
    background-color: transparent;
    z-index: 666;
}

.menu__btn {
    position: fixed;
    left: 50%;
    bottom: 14px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a94f8;
    background-color: #2a94f8;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    border-radius: 40px;
    width: 186px;
    height: 52px;
    transform: translateX(-50%);
    transition: all .3s ease;
    cursor: pointer;
    z-index: 888;
}

.menu__btn:focus {
    outline: none;
    box-shadow: none;
}

.menu__btn.show-menu .menu__btn-icon {
    transform: rotate(0);
}

.menu__btn-icon {
    margin-right: 8px;
    transform: rotate(180deg);
    transition: all .4s ease;
}

.menu__btn .hide-meu-text,
.menu__btn.show-meu-text {
    display: inline-block;
    width: 85px;
}

.menu__btn .hide-meu-text {
    display: none;
}

.menu__btn.show-menu .show-meu-text {
    display: none;
}
.menu__btn.show-menu .hide-meu-text {
    display: inline-block;
}

@media screen and (max-width: 1023.98px) {
    .menu-drawer {
        display: block;
    }
    .menu-drawer-backdrop.show {
        display: block;
    }
    .menu__btn {
        display: flex;
    }
}

@media screen and (max-width: 767.98px) {
    .menu-drawer__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 575.98px) {
    .menu-drawer {
        padding: 0 12px;
    }
    .menu-drawer__list {
        border: 1px solid #ECF0FF;
        border-bottom: none;
        border-radius: 6px 6px 0 0;
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 78px;
    }
    .menu-drawer__list-link  {
        padding: 12px 16px;
    }
    .menu__btn {
        width: 164px;
        height: 48px;
    }
}
