:root {
    --font-grotesk: 'Hanken Grotesk', sans-serif;
    --font-popins: 'Poppins', sans-serif;
    --font-roboto: 'Roboto', sans-serif;

    --classes-image: url('./../images/classes.png');

    --body-background: #F9FAFE;
    --main-content-background: #ffffff;

    --text-color:#4C5980;
    --text-color-secondary: #ffffff;
    --text-color-transparent: #4C598010;
    --news-color: #161F3D;
    --news-line-color: #4C598010;
    
    --white: #ffffff;

    --light: #F0F2F9;
    --light-300: #D6E6FF;

    --gray-100: #ECECEC;
    --gray-200: #DBDBDB;
    --gray-500: #9C9EB9;
    --gray-600: #9D9D9D;

    --brown: #444444;
    --brown-700: #2D3142;

    --orange: #FD8164;
    --orange-100: #F3785B;

    --blue: #168DFF;
    --blue-100: #508FEF;

    --green: #51C9D2;
    --green-100: #3DBBC5;

    --line-color: #9C9EB910;

    --search-bg: #F0F2F9;

    --mobile-menu-bg: #ffffff;

    --modal-header-bg: #F0F0F0;

    --classes-bg: #B0B1C7;

    --chat-toggler-bg: #ffffff;
    --chat-input-bg: #F6F6F9;
    --chat-input-color: #989FC9;
    --chat-text-color: rgba(0, 0, 0, 0.87);
    --chat-line-color: #ffffff;

    --tab-btn-color: rgba(68, 68, 68, 0.4);

    --dropdown-line: rgba(76, 89, 128, 0.1);

    --google-btn-color: rgba(0, 0, 0, 0.54);

    --card-shadow: rgba(0, 0, 0, 0.03);

    --login-circles-color: #ffffff10;

    --hover-transition: all 0.3s ease;
}

.lightmode {
    --classes-image: url('./../images/classes-dark.png');

    --body-background: #101010;
    --main-content-background: #161616;

    --text-color: #ECF0FF;
    --text-color-secondary: #ECF0FF;
    --news-color: #ECF0FF;
    --news-line-color: #ECF0FF10;

    --gray-100: #202020;
    --gray-200: #4b4b4b;

    --brown: #ECF0FF;
    --brown-700: #ECF0FF;

    --search-bg: #101010;

    --mobile-menu-bg: #131518;

    --modal-header-bg: #191C1D;

    --classes-bg: #393939;

    --chat-toggler-bg: #153758;
    --chat-input-bg: #101010;
    --chat-input-color: #9C9EB9;
    --chat-text-color: rgba(236, 240, 255, 0.87);
    --chat-line-color: #ECF0FF10;

    --tab-btn-color: rgba(236, 240, 255, 0.4);

    --dropdown-line: #ECF0FF10;

    --google-btn-color: rgba(255, 255, 255, 0.54);

    --login-circles-color: rgba(22, 22, 22, 0.1);

    --card-shadow: rgba(248, 248, 248, 0.03);;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #202020;
    overscroll-behavior: none;
}


.menu-drawer {
    position: fixed;
    left: 0;
    bottom: 0;
    display: none;
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
    z-index: 777;
}

.menu-drawer.show {
    opacity: 1;
    transform: translateY(0);
}

.menu-drawer__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f4fbff;
    border-top: 1px solid #ECF0FF;
    margin: 0;
    padding: 0;
    padding-bottom: 70px;
}

.menu-drawer__list-item {
    list-style: none;
    width: 100%;
    border-bottom: 1px solid #ECF0FF;
}

.menu-drawer__list-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;
    color: #383838;
    font-weight: 600;
    padding: 16px 16px;
}

.menu-drawer__list-icon {
    margin-right: 15px;
}

.menu-drawer-backdrop {
    position: fixed;
    inset: 0;
    display: none;
    background-color: transparent;
    z-index: 666;
}

.menu__btn {
    position: fixed;
    left: 50%;
    bottom: 16px;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #2a94f8;
    background-color: #2a94f8;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    border-radius: 40px;
    width: 164px;
    height: 44px;
    transform: translateX(-50%);
    transition: all .3s ease;
    cursor: pointer;
    z-index: 888;
}

.menu__btn:focus {
    outline: none;
    box-shadow: none;
}

.menu__btn.show-menu .menu__btn-icon {
    transform: rotate(0);
}

.menu__btn-icon {
    margin-right: 8px;
    transform: rotate(180deg);
    transition: all .4s ease;
}

.menu__btn .hide-meu-text,
.menu__btn.show-meu-text {
    display: inline-block;
    width: 85px;
}

.menu__btn .hide-meu-text {
    display: none;
}

.menu__btn.show-menu .show-meu-text {
    display: none;
}
.menu__btn.show-menu .hide-meu-text {
    display: inline-block;
}

@media screen and (max-width: 1023.98px) {
    .menu-drawer {
        display: block;
    }
    .menu-drawer-backdrop.show {
        display: block;
    }
    .menu__btn {
        display: flex;
    }
}

@media screen and (max-width: 767.98px) {
    .menu-drawer__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 575.98px) {
    .menu-drawer {
        padding: 0 12px;
    }
    .menu-drawer__list {
        border: 1px solid #ECF0FF;
        border-bottom: none;
        border-radius: 6px 6px 0 0;
        grid-template-columns: repeat(2, 1fr);
    }
}